.password-label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.password-label-text {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
}

.password-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #fff;
}

.password-text {
  margin: 0;
  color: #555;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.toggle-button {
  background-color: #b39ddb;
  color: white;
  font-size: 0.8rem;
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color: #d47a9a;
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(212, 122, 154, 0.3);
}
