.inline-redirect-label {
  text-align: right;
  font-size: 0.85rem;
  margin-top: 0px;   /* más espacio respecto al input */
  margin-bottom: 15px;
  color: #888888;
  font-family: 'Poppins', sans-serif;
}

.inline-redirect-label a {
  color: #888888;
  text-decoration: underline;
  transition: color 0.3s;
}

.inline-redirect-label a:hover {
  color: #555555;
}
